.link {
  color: #617dfb;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.authed-user {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(226, 220, 220);
  padding: 10px;
  border-radius: 0.5cm;
  width: 98%;
  margin-top: 20px;
  margin-left: 7px;
  border: #617dfb solid 0.1cm;
}
