.please-login-page{
    height: 932px;
    background-color: wheat;

}

.invalid-login{
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
}

.login-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    size: 20in;
}

.please-login{
    font-size: 2rem;
}

.title{
    font-size: 2rem;
    font-weight: bold;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.username{
    font-size: 20px;
}

.password{
    font-size: 20px;
}

.submit-button{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(218, 209, 209);
    color: rgb(0, 0, 0);
    border: 0.1cm solid rgb(0, 0, 0); 
    border-radius: 0.5cm;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}