.poll-item {
  height: 875px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poll-option {
  border: solid rgb(0, 0, 0);
  border-radius: 0.5cm;
  margin-bottom: 10px;
  padding: 5px;
  background-color: rgb(226, 220, 220);
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poll-answer {
    color:  rgb(248, 2, 2);
    
}

.poll-question{
    font-size: 2rem;
    font-weight: bold;
}

.by{
    font-size: 2rem;
    font-weight: bold;
}
